:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  color-scheme: light dark;
  color: #c1976e;
  color: sienna;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
}
* {
  border-radius: 10px;
}
a {
  font-weight: 500;
  color: #c1976e;
  text-decoration: inherit;
  max-width: fit-content;
}
a:hover {
  color: #e8c5a3;
}
form {
  background-color: #d3bfa8;
  padding: 10px;
  box-shadow: 2px 3px 10px rgba(27, 27, 27, 0.571);
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff8f0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 0.95em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(96, 57, 27);
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 2px 3px 1px rgb(27, 27, 27);
  transition: all 0.2s ease-in-out;
}
button:hover {
  border-color: #997450;
  background-color: rgb(128, 78, 40);
  transform: scale(1.05);
}
button:focus,
button:focus-visible {
  outline: 4px auto black;
}
input {
  background-color: antiquewhite;
  color: black;
  border: solid rgba(0, 0, 0, 0.433);
  box-shadow: 2px 3px 10px rgba(27, 27, 27, 0.571);
}
select {
  background-color: antiquewhite;
  color: black;
  border: solid rgba(0, 0, 0, 0.433);
  box-shadow: 2px 3px 10px rgba(27, 27, 27, 0.571);
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
